:root {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--label-color);
  font-optical-sizing: auto;
  font-style: normal;
  --label-color: #4d4d4d;
  --secondary-label-color: #999999;
  --background-color: #ffffff;
  --border-color: #e6e6e6;
  --border-width: 4px;
  --text-border-color: rgba(255, 255, 255, 0.9);
}

input {
  height: 20px;
  font-size: 16px;
  color: var(--label-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 3em;
  margin: 0 2px 0 2px;
  /* Firefox */
  appearance: textfield;
}

button {
  height: 24px;
  font-size: 16px;
  line-height: 10px;
  color: var(--label-color);
}